*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --blue: #2ABDEB;
}
button{
    background: none;
    border: none;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.red-light{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.hamburguer-menu{
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.hamburguer-menu-icon{
    background-color: var(--white);
    width: 100%;
    height: 2px;
}
.languages{
    color: var(--white);
    font-size: 12px;
}
.language{
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    transition: .2s;
}
.language:hover{
    color: var(--blue);
    transition: .2s;
}
.navbar{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.navbar ul li a{
    color: var(--white);
    font-family: var(--obrazec20);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-wrap: nowrap;
    transition: .2s;
}
.navbar ul li a:hover{
    color: var(--blue);
    transition: .2s;
}
.hero-content{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.hero-content img{
    width: 100%;
}
.hero-content p{
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}
.hero-content p span{
    width: 100%;
}
.hero-content p span:nth-child(1){
    text-align: left;
}
.hero-content p span:nth-child(2){
    text-align: right;
}
.bowie-left, .bowie-right{
    height: 110vh;
    position: absolute;
    bottom: -20vh;
    z-index: 3;
}
.bowie-left{
    left: 0;
    transform: translateX(-40%);
}
.bowie-right{
    right: 0;
    transform: translateX(40%);
}
.noise{
    background-image: url(../assets/noise.gif);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.1;
    pointer-events: none;
}